/* @override http://localhost:8000/site_media/stylesheets/style.css */

* {
    margin:0;
    padding:0;
    font-family: Helvetica, Arial;
}

.mainlink, a.mainlink:visited, a.mainlink:hover  {
	font-weight: bold;
	color: #1d00fb;
	border-bottom-style: none;
}

a, a:visited, a:hover {
	color: #1c7ffc;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	text-decoration: none;
}

#header {
	height: 39px;
	background-color: #333;
	width: 100%;
	float: left;
}

#container {
	background-color: #bbf0fa;
	width: 100%;
	height: 100%;
	float: left;
}

#footer {
	background-color: #fff;
	height: 58px;
	max-height: 58px;
	width: 100%;
	position: relative;
	border-top: 1px solid #4c4c4c;
	float: left;
}

.horizontalspacer {
	height: 8px;
	clear: both;
}

#main {
	background-color: #fff;
	width: 80%;
	margin-left: 10%;
	height: 70%;
	float: left;
	border: 2px solid #ccc;
}

#main_header {
	width: 100%;
	height: 80px;
	float: left;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ccc;
}

#main_header li {
	display: inline;
}

#content {
	float: left;
	background-color: #f6f6f6;
	width:  100%;
	min-height: 700px;
}

#main_content {
	float: left;
	border-right-style: solid;
	border-right-color: #ccc;
	border-right-width: 1px;
	background-color: #ffffff;
	padding-left: 6px;
	padding-bottom: 100%;
	min-width: 60%;
	max-width: 60%;
}

#main_sidebar {
	position: relative;
	float: left;
}

#commentsearch {
	margin-left: 12px;
	margin-top: 17px;
	margin-bottom: 28px;
	font-size: 10pt;
	font-variant: small-caps;
}

#commentsearch a {
	border-bottom-style: none;
}

#linkbar {
	padding-bottom: 7px;
}
.searchlink {
	display: inline;
	padding-right: 5px;
}
#question_link {
	background: url(../images/help.png) no-repeat;
	padding-left: 20px;
}
#idea_link {
	background: url(../images/lightbulb.png) no-repeat;
	padding-left: 20px;
}
#issue_link {
	background: url(../images/bullet_error.png) no-repeat;
	padding-left: 20px;
}
#praise_link {
	background: url(../images/heart.png) no-repeat;
	padding-left: 20px;
}
#question_link.link_selected  {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	margin: 0;
	padding-bottom: 5px;
	padding-right: 5px;
}
#idea_link.link_selected  {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	margin: 0;
	padding-bottom: 5px;
	padding-right: 5px;
}
#issue_link.link_selected  {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	margin: 0;
	padding-bottom: 5px;
	padding-right: 5px;
}
#praise_link.link_selected  {
	background-color: #e6e6e6;
	border: 1px solid #ccc;
	margin: 0;
	padding-bottom: 5px;
	padding-right: 5px;
}




.category_heading {
	font-size: 12pt;
	text-align: left;
	text-indent: 1em;
	font-weight: normal;
	font-style: normal;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 10px;
	margin-top: 9px;
	margin-right: 6px;
	font-variant: small-caps;
	padding-left: 7px;
}

#faqs h2 {
	background: #dfecfd url(../images/help.png) no-repeat 3px;
}

#ideas h2 {
	background: #fcde89 url(../images/lightbulb.png) no-repeat 3px;
}

#issues h2 {
	background: #dcb9be url(../images/bullet_error.png) no-repeat 3px;
}

#praise h2 {
	background: #e4ffd6 url(../images/heart.png) no-repeat 3px;
}

.comment_summary {
	margin-bottom: 15px;
	margin-top: 15px;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin-right: 6px;
	padding-bottom: 8px;
}

.comment_summary a {
	margin-left: 10px;
}

.comment_summary p {
	font-size: 9px;
	text-indent: 10px;
	margin-top: 5px;
}




/* detail edit styles */
#comment_meta {
	font-size: 9pt;
}

#comment_body {
	background-color: #e2f4f8;
	margin: 15px;
	padding: 6px;
	font: 14pt "Lucida Grande", Lucida, Verdana, sans-serif;
}

#replies {
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 8px;
}

.reply_meta {
	font-size: 9pt;
	font-weight: bold;
	margin-bottom: 8px;
}
.reply {
	margin-top: 9px;
	margin-left: 15px;
	margin-right: 30px;
	padding-bottom: 25px;
	border-bottom: 1px solid #cccccc;
}

#new_reply {
	margin-left: 15px;
}

/* cateory listing*/
#categorynav {
	border: 1px solid #cccccc;
	float: left;
	padding-right: 30px;
	margin-top: 15px;
	padding-left: 35px;
}

#categoryleft {
	height: 100%;
	float: left;
	padding-bottom: 100%;
}
#categoryright {
	width: 59%;
	float: left;
}

#categorylist {
	width: 100%;
	float: left;
}

.current {
	background-color: #cccccc;
}

#categorynav li {
	list-style-type: none;
	margin-bottom: 3px;
}

li#questions a, li#questions a:visited {
	border-style: none;
	background: url(../images/help.png) no-repeat;
	padding-left: 19px;
}
li#questions li#questions a:hover {
	border-bottom-style: dotted;
}

li#ideas a, li#ideas a:visited {
	border-style: none;
	background: url(../images/lightbulb.png) no-repeat;
	padding-left: 19px;
}
li#ideas li#ideas a:hover {
	border-bottom-style: dotted;
}

li#issues a, li#issues a:visited {
	border-style: none;
	background: url(../images/bullet_error.png) no-repeat;
	padding-left: 19px;
}
li#issues li#issues a:hover {
	border-bottom-style: dotted;
}

li#praise a, li#praise a:visited {
	border-style: none;
	background: url(../images/heart.png) no-repeat;
	padding-left: 19px;
}
li#praise a:hover {
	border-bottom-style: dotted;
}

#categorylist {
	float: left;
	margin-left: 35px;
}

/* category list class*/
.QUESTIONS {
	background: url(../images/help.png) no-repeat 0 1px;
	padding-left: 19px;
}
.IDEAS {
	background: url(../images/lightbulb.png) no-repeat 0 1px;
	padding-left: 19px;
}
.ISSUES {
	background: url(../images/bullet_error.png) no-repeat 0 1px;
	padding-left: 19px;
}
.PRAISE {
	background: url(../images/heart.png) no-repeat 0 1px;
	padding-left: 19px;
}
