{% extends "echo/base.html" %}
{% block content %}

<div id="categoryleft">
	<div id="categorynav">
		<ul>
			{% ifequal category 'QUESTIONS' %}
				<li id="questions" class="current"><a href="{% url feedback.echo.views.category 'QUESTIONS' %}">Questions</a></li>
			{% else %}
				<li id="questions"><a href="{% url feedback.echo.views.category 'QUESTIONS' %}">Questions</a></li>
			{% endifequal %}
			
			{% ifequal category 'IDEAS' %}
				<li id="ideas" class="current"><a href="{% url feedback.echo.views.category 'IDEAS' %}">Ideas</a></li>
			{% else %}
				<li id="ideas"><a href="{% url feedback.echo.views.category 'IDEAS' %}">Ideas</a></li>
			{% endifequal %}
			
			{% ifequal category 'ISSUES' %}
				<li id="issues" class="current"><a href="{% url feedback.echo.views.category 'ISSUES' %}">Issues</a></li>
			{% else %}
				<li id="issues"><a href="{% url feedback.echo.views.category 'ISSUES' %}">Issues</a></li>
			{% endifequal %}
			
			{% ifequal category 'PRAISE' %}
				<li id="praise" class="current"><a href="{% url feedback.echo.views.category 'PRAISE' %}">Praise</a></li>
			{% else %}
				<li id="praise"><a href="{% url feedback.echo.views.category 'PRAISE' %}">Praise</a></li>
			{% endifequal %}
		</ul>
	</div><!-- /categorynav -->
</div><!-- /categoryleft -->

<div id="categoryright">
	<div id="categorylist">
		{% if comments %}
			{% for comment in comments %}
				<div class="comment_summary">
					<a href="{% url feedback.echo.views.commentDetails comment.id %}">{{ comment.comment_summary }}</a>
					<p>By:&nbsp;{{ comment.commenter.username }}&nbsp;&nbsp;On:&nbsp;{{ comment.dstamp_created|date:'D M d Y'}}</p>
				</div><!-- /comment_summary -->
			{% endfor %}
		{% else %}
			<p>No {{ category|lower }} yet...</p>
		{% endif %}
	</div><!-- categorylist -->
</div><!-- categoryright -->

{% endblock %}

{% for faq in faq_list %}
	<div class="comment_summary">
		<a href="{% url feedback.echo.views.commentDetails faq.id %}">{{ faq.comment_summary }}</a>
		<p>By:&nbsp;{{ faq.commenter.username }}&nbsp;&nbsp;On:&nbsp;{{ faq.dstamp_created|date:'D M d Y'}}</p>
	</div><!-- /comment_summary -->
{% endfor %}