{% extends "echo/base.html" %}

{% block content %}
<div id="comment_meta">
	{{ comment.commenter.username }} posted this to  <a href="{% url feedback.echo.views.category comment.category %}">{{ comment.category|lower }}</a> {{ comment.dstamp_created|timesince }} ago
</div><!-- /comment_meta -->
<div id="comment_body">
	{{ comment.body }}
</div><!-- /comment_body -->

<div id="replies">
	{% for reply in replies %}
	<div class="reply" >
		<div class="reply_meta">
			{{ reply.commenter.username }} replied {{ reply.dstamp_created|timesince}} ago
		</div><!-- /reply_meta -->
	
		<div class="reply_body">
			{{ reply.body }}
		</div><!-- /reply_body -->
	</div><!-- /reply -->
	{% endfor %}

	<div id="new_reply">
		<form action="/echo/{{ comment.id }}/reply/" method="post">
			<input type="hidden" name="comment" value="{{ comment.id }}" />
			<textarea name="body" rows="5" cols="60"></textarea><br />
			<input type="submit" value="New Reply">
		</form>
	</div><!-- /new_reply -->
	
</div><!-- /replies -->
{% endblock %}